<h1 *ngIf="dataFromChild">
  {{ dataFromChild.name }}
</h1>
<h2 #h2Var></h2>
<div *ngFor="let employee of employees">
  <div (click)="h2Var.innerHTML = childComponent.employee.name">
    <app-display-employee
      [employee]="employee"
      (notify)="handleNotify($event)"
      #childComponent
    ></app-display-employee>
  </div>
</div>
<!-- <button (click)="nextEmployee()" class="btn btn-primary">View Next Employee</button>
<br><br>
<app-display-employee [employee]="employeeToDisplay"></app-display-employee> -->
